<div id="login" class="h-100 w-100 py-5">
    <div class="container mx-auto d-flex align-items-center justify-content-center">
        <div class="box-login mt-5" class="mx-auto py-4 px-3">
            <div class="content-login">
                <span class="py-3 d-flex justify-content-center fs-1">
                    <i class="bi bi-person-circle"></i>
                </span>
                <h3 class="text-center py-2">Iniciar sesión</h1>

                <%= form_tag '/login', class:"form" do %>
                    <div class="field col-auto">
                        <label for="usuario" class="">Usuario</label>
                        <%= text_field_tag :username, '', class:"form-control mt-1", placeholder:"Nombre de usuario"%>
                    </div>
                    <div class="field col-auto my-4">
                      <label for="inputPassword2" class="">Contraseña</label>

                      <%= password_field_tag :password, '', class:"form-control mt-1", placeholder:"**********" %>
                    </div>
                    <div class="actions col-auto">
                      <%= submit_tag "Acceder", class: "btn btn-primary mb-3 w-100 py-2" %>
                    </div>

                    

                <% end %>
            

            </div>
        </div>    
    </div>
</div>


