<tr>
    <th scope="row"><%= register.id %></th>
    <th scope="row"><%= register.tipo =='S' ? 'Salida':'Entrada' %></th>
    <th scope="row"><%= register.fecha %></th>
    <th scope="row"><%= register.hora.strftime("%I:%M %p") %></th>
    <th scope="row"> </th>
</tr>

