<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Editar Registros</h1>
    
      <div class="d-flex justify-content-around">
        <%= link_to @register, class: "btn btn-light text-center mx-2 text-black" do %>
         <i class="bi bi-eye-fill"></i>
          Ver
        <% end %>
        <%= link_to registers_path, class: "btn btn-dark text-center mx-2 text-white", title:"Atrás" do %>
          <i class="bi bi-arrow-90deg-left"></i>
        <% end %>
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
        <%= render 'form', register: @register %>       
  </div>
</div>