<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Lista de Registros</h1>
    
      <div class="d-flex justify-content-around">
        <%= link_to new_register_path, class: "btn btn-light text-center mx-2 text-black" do %>
         <i class="bi bi-plus-lg"></i>
          Nuevo
        <% end %>
        <a href="/menu" class="btn btn-dark text-white" title="Atrás"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
    <div class="table-responsive bg-white p-3 rounded-3">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Tipo</th>
            <th>Empleado</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @registers.each do |register| %>

            <% if current_user.rol.id == 3 %>
              <!--ROL: ADMIN-->
              <tr>
                <td><%= register.id %></td>
                <td><%= register.fecha %></td>
                <td><%= register.hora.strftime("%I:%M %p") %></td>
                <td><%= register.tipo == 'E'? 'Entrada':'Salida' %></td>
                <td>
                  <%= register.user.person.nombres %>
                  <%= register.user.person.apellidoPat %>
                  <%= register.user.person.apellidoMat %>
                </td>
                <td>
                  <%= link_to register, class: "btn btn-success text-white" do %>
                    <i class="bi bi-eye-fill"></i>
                  <%  end  %>
                  
                </td>
                
              </tr>
            <% else %>
              <!--ROL: EMPLEADO-->

              <% if register.user.id == current_user.id %>
                <tr>
                  <td><%= register.id %></td>
                  <td><%= register.fecha %></td>
                  <td><%= register.hora.strftime("%I:%M %p") %></td>
                  <td><%= register.tipo== 'E'? 'Entrada':'Salida' %></td>
                  <td>
                      <%= register.user.person.nombres %>
                      <%= register.user.person.apellidoPat %>
                      <%= register.user.person.apellidoMat %>
                  </td>
                  <td>
                    <%= link_to register, class: "btn btn-success text-white" do %>
                      <i class="bi bi-pencil-square"></i>
                    <%  end  %>
                  </td>
                  <td>
                    <%= link_to edit_register_path(register), class: "btn btn-warning" do%>
                      <i class="bi bi-eye-fill"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to register,class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="bi bi-x-square"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>



  