
<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">REPORTE</h1>
    
      <div class="d-flex justify-content-around">
        <%= link_to users_path, class: "btn btn-dark text-center mx-2 text-white", title:"Atrás" do %>
          <i class="bi bi-arrow-90deg-left"></i>
        <% end %>
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
    <div class="w-50 mx-auto my-4 card ">
        <div class="card-header">
          Horas trabajadas por mes
        </div>
        <div class="card-body">

          <%= form_with(url: registers_prueba_path, id:'form-prueba', data: { type: :json }, class:"m-0 p-0 w-100", local: false)  do |form| %>
            <div class="d-flex justify-content-between w-100">
                <%= form.select(:mes_id, {}, {}, {class:"form-select w-50"}) do%>
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                <% end %>
                <%= form.select(:anio_id, {}, {}, {class:"form-select w-50 mx-2"}) do%>
                  <% @anios.each do |c| -%>
                    <%= content_tag(:option, c, value: c) %>
                  <% end %>
                <% end %>

                <div class="field mb-3">
                  <%= form.text_field :user_id, :value=> @id , class:"form-control", type:'hidden' %>
                </div>

                <%= form.submit "Buscar", class:"btn btn-success px-3", id:"btn-submit"%>
                

            </div>
          
          <% end %> 

          <div class="mt-3">

            <div class="border-top py-2 d-flex justify-content-between">
                <table class="table">
                  <thead>
                      <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Hora</th>
                      <th scope="col">TOTAL</th>
                      </tr>
                  </thead>
                  <tbody id="box-prueba">
                     
                  </tbody>
              </table>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
