<div class="container py-4 mx-auto">
  <div class="row my-4">
    <div class="card w-50 mx-auto p-0">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 id="notice">Información general</h5>
         <%= link_to registers_path,  class:"btn btn-dark text-white", title:"Atrás" do %>
            <i class="bi bi-arrow-90deg-left"></i>
          <% end %>
      </div>
      <div class="card-body">
        
        <p class="card-text mb-3">
          <strong>Fecha:</strong>
          <%= @register.fecha %>
        </p>

        <p class="card-text mb-3">
          <strong>Hora:</strong>
          <%= @register.hora %>
        </p>

        <p class="card-text mb-3">
          <strong>Tipo:</strong>
          <%= @register.tipo=='E'?'Entrada':'Salida' %>
        </p>

        <p class="card-text mb-3">
          <strong>Empleado:</strong>
          <%= @register.user.person.nombres %>
          <%= @register.user.person.apellidoPat %> 
          <%= @register.user.person.apellidoMat %> 
        </p>

        <div class="actions d-flex justify-content-end">
          <% if current_user.rol.id == 4 %>

            <%= link_to edit_register_path(@register), class:"btn btn-success text-white px-4"  do%> 
              <i class="bi bi-pencil-square"></i>
              Editar
            <% end %>

          <% end %>
         
        </div>
      </div>
    </div>
  </div>
</div>


