<div class="list">
  <div class="header">
    <div class="container mx-auto py-4">
      <h1 class="text-white">Lista de empleados</h1>
    </div>
  </div>


  <div class="container mx-auto py-4">
      <p id="notice"><%= notice %></p>

      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidopat</th>
            <th>Apellidomat</th>
            <th>Dni</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @people.each do |person| %>
            <tr>
              <td><%= person.id %></td>
              <td><%= person.nombres %></td>
              <td><%= person.apellidoPat %></td>
              <td><%= person.apellidoMat %></td>
              <td><%= person.dni %></td>
              <td><%= link_to 'Ver', person %></td>
              <td><%= link_to 'Editar', edit_person_path(person) %></td>
              <td><%= link_to 'Eliminar', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <%= link_to 'Nuevo empleado', new_person_path %>
      
  </div>
</div>

