<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @person.nombres %>
</p>

<p>
  <strong>Apellidopat:</strong>
  <%= @person.apellidoPat %>
</p>

<p>
  <strong>Apellidomat:</strong>
  <%= @person.apellidoMat %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @person.dni %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
