

    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field mb-3">
        <%= form.label 'Nombre de usuario' , class:"form-label my-1" %>
        <%= form.text_field :username, class:"form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label 'Contraseña' , class:"form-label my-1" %>
        <%= form.password_field :password, class:"form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label 'Confirmación de contraseña' , class:"form-label my-1" %>
        <%= form.password_field :password_confirmation, class:"form-control" %>
      </div>

      <div class="form-check mb-3 d-flex align-items-center px-0">
        <label class="form-check-label mr-2" for="user_estado">
          Estado
        </label>
          <%= form.check_box :estado, class:"mx-2" %>
      </div>


      <div class="field mb-3">
        <label class="form-check-label mr-2 my-1" for="user_rol_id">
          Rol
        </label>

        <%= form.select(:rol_id) do%>
          <% @roles.each do |c| -%>
            <%= content_tag(:option, c.descripcion, value: c.id) %>
          <% end %>
        <% end %>
            
      </div>

       <div class="field mb-3">
        <label class="form-check-label mr-2 my-1" for="user_rol_id">
          Empleado
        </label>

        <%= form.select(:person_id, options = {class:"form-select"} )  do%>
          <% @people.each do |c| -%>
            <%= content_tag(:option, c.nombres+ ' ' + c.apellidoPat + ' ' + c.apellidoMat, value: c.id) %>
          <% end %>
        <% end %>
            
      </div>

      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-success w-100" %>
      </div>
    <% end %>

