<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Lista de Usuarios</h1>
      <div class="d-flex justify-content-around">
        <%= link_to new_user_path(@user), class: "btn btn-light text-center mx-2 text-black" do%>
          <i class="bi bi-plus-lg"></i>
          Nuevo
        <% end %>
        <a href="/menu" class="btn btn-dark text-white" title="Atrás"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
      
    <p id="notice"><%= notice %></p>
    <div class="table-responsive bg-white p-3 rounded-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Empleado</th>
            <th colspan="6"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.username %></td>
              <td><%= user.estado ? 'Activo':'Inactivo'   %></td>
              <td><%= user.rol.descripcion %></td>
              <td><%= user.person.nombres%> <%= user.person.apellidoPat%> <%= user.person.apellidoMat%> </td>
              <td>
                <%= link_to user, class: "btn btn-success text-white" do %>
                  <i class="bi bi-eye-fill"></i>
                <% end %>
              </td>
              <td>
                <%= link_to edit_user_path(user) , class: "btn btn-warning" do%>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              </td>
              <td>
                <%= link_to user,class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Are you sure?' } do%>
                      <i class="bi bi-x-square"></i>
                <% end%>
              
              </td>

              <% if user.estado %>

              <td>
                  <%= link_to users_deshabilitar_path(:id => user.id), method: :post, class: "btn btn-dark text-white", title:"Inabilitar" do%>
                    <i class="bi bi-stop-circle"></i>
                  <% end %>

                </td>
              <% else %>
                <td>
                  <%= link_to users_habilitar_path(:id => user.id), method: :post,  class: "btn btn-info text-dark", title:"Habilitar" do%>
                    <i class="bi bi-play-circle"></i>
                  <% end %>
                </td>
              <% end %>
              <td>
                  <%= link_to  reporte1_path(:id => user.id),  :class => "btn btn-secondary text-white", title: "Horas de trabajo" do %>
                    <i class="bi bi-clock-fill"></i>
                  <%  end  %>
              </td>
              <td>
                  <%= link_to  calendario_path(:id => user.id),  :class => "btn btn-primary text-white", title: "Calendario" do %>
                    <i class="bi bi-calendar-fill"></i>
                  <%  end  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
      <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reporte</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

