<div class="list">
    <div class="header">
        <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
            <h1 class="text-white">Nuevo Usuario</h1>
            <div class="d-flex justify-content-around">
                <%= link_to users_path, class:"btn btn-dark text-white", title:"Atrás" do %>
                    <i class="bi bi-arrow-90deg-left"></i>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container mx-auto py-4">
        <%= render 'form', user: @user, class:"form-reg" %>
    </div>
</div>
