<div class="container py-4 mx-auto">
  <div class="row my-4">
    <div class="card w-50 mx-auto p-0">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 id="notice">Información general</h5>
         <%= link_to users_path,  class:"btn btn-dark text-white", title:"Atrás" do %>
            <i class="bi bi-arrow-90deg-left"></i>
          <% end %>
      </div>
      <div class="card-body">
        
        <p class="card-text mb-3">
            <strong>Nombre de usuario:</strong>
            <%= @user.username %>
        </p>

        <p class="card-text mb-3">
          <strong>Estado:</strong>
          <%= @user.estado ? 'Activo':'Inactivo' %>
        </p>

        <p class="card-text mb-3">
          <strong>Rol:</strong>
          <%= @user.rol.descripcion %>
        </p>
        <p class="card-text mb-3">
          <strong>Empleado:</strong>
          <%= @user.person.nombres %>
          <%= @user.person.apellidoPat %> 
          <%= @user.person.apellidoMat %> 
        </p>

        <div class="actions d-flex justify-content-end">

            <%= link_to edit_user_path(@user), class:"btn btn-success text-white px-4"  do%> 
              <i class="bi bi-pencil-square"></i>
              Editar
            <% end %>
         
        </div>
      </div>
    </div>
  </div>
</div>

