
<div class="home h-100">
    <div class="container text-center mx-auto h-100">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h3>
                Sistema de control <br> de entrada y salida de personal 
            </h3>
            
            <a href="https://geosatelital.com/" class="title py-3">
                <img height="150" src="https://geosatelital.com/wp-content/uploads/ISOTIPO-BLANCO-PEQUENO.png" alt="Geosatelital">
            </a>
            <div class="enlaces ">
                <!--<%= link_to 'Crear usuario', new_user_path %>-->
                <%= link_to 'Iniciar Sesión', login_path %>
            </div>
        </div>
    </div>
</div>
