<div class="list">
  <div class="header">
    <div class="container mx-auto py-4">
      <h1 class="text-white">Lista de roles</h1>
    </div>
  </div>


  <div class="container mx-auto py-4">
      <p id="notice"><%= notice %></p>

      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @rols.each do |rol| %>
            <tr>
                <td><%= rol.id %></td>
                <td><%= rol.descripcion %></td>
                <td><%= link_to 'Ver', rol %></td>
                <td><%= link_to 'Editar', edit_rol_path(rol) %></td>
                <td><%= link_to 'Eliminar', rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <!--<%= link_to 'Nuevo rol', new_rol_path %>-->     
  </div>
</div>


