// Place all the styles related to the Registers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
    background: #fff;
    margin: auto !important;
    width: 400px;
    padding: 20px 30px;
    border-radius: 5px;
}

.form{
    background: none !important;
}