// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************************
LOGIN
****************************/
body{
    background: #f9f9f9;
}
#login{
    padding: 120px 0 !important;
}

.box-login{
    background: #f2f2f2 !important;
    border-radius: 5px;
    margin: auto;
    width: 450px;
    span{
        color: #01709d;
        font-size: 3.5rem !important;

    }

    h3{
        font-size: 1.4rem;
        color: #202124;
        font-weight: 500;
    }
    label{
        color: #333;
    }
    .btn{
        background: #01709d;
    }
    form{
        padding: 0 20px;
    }
    .actions{
      input{
          border: 0;
      }
    }
}   
