<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Lista de registros en el calendario</h1>
    
      <div class="d-flex justify-content-around">
        <a href="/menu" class="btn btn-dark text-white" title="Atrás"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
    <div class="table-responsive bg-white p-3 rounded-3">


      <%= month_calendar  do |date| %>
        <%= date.day %>
      <% end %>

    </div>  
  </div>
</div>



  